*{
    /* height and width of divs consists padding and border by this property */
    box-sizing: border-box;           
}

body{
    /* as body gives some margin by default */
    margin: 0;
    background-color: #fdeecd;
    overflow-y: overlay;
}


.container{
    height: auto;
    width: 100vw;
}

.navbar{
    height: 15vh;
    width: 100vw;
    background-color: #596275;
    position: fixed;
    top: 0;
    left: 0;
    /* flex is used to align div boxes horizontally */
    display: flex;
    /* justify-content: center; */
    align-items: center;
    /* align-items: center; */
}

.grid{
    margin-top: 15vh;
    height: auto;
    width: 100vw;
    /* background-color: #ffde95; */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.filters, .action-buttons{
    height: 50%;
    background-color: #2f3640;
    /* margin-top: 25%;   margin doesn't take  */

    /* this calc() function perform mathematical calculation b/w units */
    /* margin-top: calc( (25 / 100) * 15vh);   */
    margin-left: 5%;
    border-radius: 10px;
    box-shadow: 0px 0px 4px 2.5px rgb(248, 150, 37);
}

.filters{
    width: 16%;
    display: flex;
}

.filter{
    height: 100%;
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.filter:hover,.filter-selected{
    background-color: #8395a7;
}
 

.filter div{
    height: 45%;
    width: 45%;
    border-radius: 8px;
    border: 2px solid white;
}


.pink{
    background-color: #e84393;
}

.blue{
    background-color: #4b7bec;
}

.green{
    background-color: #20bf6b;
}

.black{
    background-color: black;
} 

.action-buttons{
    width: 8%;
    display: flex;
    border-radius: 10px;
}

.add, .delete{
    height: 100%;
    width: 50%;
    color: white;
    display: flex;
    border-radius: 10px;

    /* justify content align items in direction of flex */
    justify-content: center;

    /* align-items will align items in opp direction of flex */
    align-items: center;
}

.material-icons{
    cursor: default;
    font-size: 2rem!important;
}

.add:hover,.delete:hover,.delete-selected{
    background-color: #8395a7;
}

.head-title{
    margin-left: 10%;
    margin-right: 5%;
    font-size: 1.3rem;
    font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
    text-shadow: -5px 5px 4px #2f3542;
    color: rgb(248, 174, 37);
    width: auto;
}

.modal{
    width: 45rem;
    height: 25rem;

    box-shadow: 0 0 40px 15px #311a15;

    /* position fixed will fix its pos wrt body and stick to it doesn't interact with other elements */
    position: fixed;
    top: 20vh;
    left: 50%;

    /* transform property to move elements % refers to element's own width and height */
    transform: translateX(-50%);
    display: flex;
}

.task-section{
    height: 100%;
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fd9644;
}

.task-inner-container{
    height: 86%;
    width: 88%;
    background-color: #ffeaa7;
    outline: none;
    font-size: 1.5rem;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding: 10px;

    /* to prevent from overflow */
    overflow: auto; 
}

.task-inner-container::-webkit-scrollbar{
    width: 13px;
}

.task-inner-container::-webkit-scrollbar-thumb{
    background: #a86604; 
    border-radius: 5px;
}

.task-inner-container::-webkit-scrollbar-thumb:hover {
    background: rgb(145, 83, 3); 
  }

.init-font{
    color: dimgray;
    font-size: 2rem;
}

.filters-section{
    height: 100%;
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #2f3640;
}

.filters-inner-container{
    height: 80%;
    width: 60%;
    display: flex;

    /* direction change to column it will align its child vertically */
    flex-direction: column; 

    /* justify content work in same direction of flex, it will give equal spaces b/w children elements vertically */
    justify-content: space-evenly;

    /* align items work in opposite direction of flex, it will align center the children elements horizontally. */
    align-items: center;
    /* background-color: #f8f3d5; */
    background-color: white;
}

.filter-color{
    width: 75%;
    height: 15%;
    transition-duration: 0.13s;
}

.filter-color:hover{
    transform: scaleX(1.25);
}

.selected{
    border: 8px solid #fd9644;
    border-radius: 8px;
}

.add-task-btn{
    font-family: cursive;
    width: 75%;
    height: 15%;
    background-color: #a4b0be;
    border-radius: 5px;
    color: #2f3542;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: default;
}

.add-task-btn:hover{
    background-color: #57606f;
    color: white;
    box-shadow: 0px 0px 2px 3px #2f3542;
}

.ticket{
    width: 20rem;
    height: 12rem;
    margin: 10px;
    box-shadow: 0px 0px 3px 2px rgb(87, 70, 48);
}

.ticket-color{
    width: 100%;
    height: 8%;
}

.ticket-id{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 0.8rem;
    color: dimgray;
    width: 100%;
    height: 10%;
    padding: 5px;
    font-weight: 600;
    display: flex;
    align-items: center;
}

.actual-task{
    width: 100%;
    height: 82%;
    padding: 5px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2rem;
    background-color: #fdd488;
    overflow: auto;
    overflow-wrap: break-word;
    outline: none;
}

.actual-task::-webkit-scrollbar{
    width: 8px;
}

.actual-task::-webkit-scrollbar-thumb{
    background: rgb(255, 145, 0); 
    border-radius: 5px;
}

.actual-task::-webkit-scrollbar-thumb:hover {
    background: #b34800; 
  }

.format-tools{
    width: 16%;
    height: 50%;
    margin-left: 5%;
    background-color: #2f3640;
    border-radius: 10px;
    box-shadow: 0px 0px 4px 2.5px rgb(248, 150, 37);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.bold, .italic, .underline, .strike{
    width: 18%;
    border: none;
    outline: none;
    background-color: #2f3640;
    display: flex;
}

.bold span,.italic span,.underline span,.strike span{
    font-size: 2rem!important;
    color: white!important;
}
.bold:hover,.italic:hover,.underline:hover,.strike:hover{
    background-color: orange;
}